@font-face {
    font-family: 'Oswald', sans-serif;
    src: url(/fonts/Oswald-Regular.ttf);
    font-style: bold;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

.header, .main-section {
    background-color: #eeeff1;
    max-width: 1920px;
    padding: 0 20;
    margin: 0 auto;
}

.fixed-container {
    padding: 0 20px;
    max-width: 1240px;
    margin: 0 auto;
}

.menu-container {
    padding-top: 67px;
    display: flex;
    justify-content: space-between;
}

.logo {
    padding-left: 47px;
}

.menu {
    display: flex;
}

.header-menu {
    padding-right: 0;
    padding-top: 6px;
    margin-left: 20px;
}

nav ul li {
    text-transform: uppercase;
    list-style-type: none;
    font-size: 16px;
    letter-spacing: 1.7px;
}

nav ul li a {
    margin-right: 55px;
    font-weight: 500;
    color: #000000;
    letter-spacing: 0.1em;
}

nav ul li a:hover {color: #34547a;}

.section-container {
    display: flex;
    justify-content: space-between;
    padding-top: 136px;
    padding-bottom: 155px;
}

.laptop {
    padding-left: 136px;
    padding-top: 20px;
}

.caption {
    font-size: 44px;
    margin-bottom: 48px;
    letter-spacing: 2px;
}

.discription {
    width: 580px;
    margin-bottom: 50px;
    line-height: 26px;
}

.button {
    width: 228px;
    height: 70px;
    background-color: #34547a;
    color: #FFFFFF;
    font-size: 16px;
    cursor: pointer;
    border: none;
}

.button:hover {background-color: #253b57;}

.section-content {
    padding: 400px 100px;
    border: 1px solid black;
    font-size: 26px;
}

.back {
    margin-left: 50px;
    font-size: 16px;
}

.burger-icon {
    display: none;
    margin-top: 1px;
    margin-left: 20px;
}

.burger-icon span {
    display: block;
    height: 7px;
    width: 45px;
    background-color: #000000;
}

h1:hover, ul li:hover {
    text-shadow: red -3px 0, cyan 3px 0;
}

.burger-icon span:nth-child(2) {margin: 6px 0;}

@media (max-width: 1250px) {

    .discription {
        margin-bottom: 70px;
        width: 100%;
    }    
    .right-part {
        padding-left: 80px;
    }

    .laptop {
        padding-left: 50px;
    }

}

@media (max-width: 925px) {

    .logo {
        padding-left: 0px;
    }

    .logo img {
        width: 70px;
    }

    .header-menu {
        display: none;
    }

    .burger-icon {
        display: block;
        height: 2px;
        width: 24px;
    }

    .burger-icon span {
        height: 2px;
        width: 24px;
    }

    .section-container {
        display: block;
        align-content: center;
        padding-top: 50px;
        margin: 0 auto;
        justify-content: center;
    }

    .laptop {
        text-align: center;
        padding-bottom: 10px;
        padding-left: 0;
    }

    .right-part {
        margin: 0 auto;
        padding: 0;
        text-align: center;
        padding-left: 0;
    }

}

@media (max-width: 400px) {

    .laptop img {
        width: 250px;
        padding-bottom: 10px;
    }

    .caption {
        font-size: 30px;
    }

    .discription {
        font-size: 14px;
    }

    .section-container {
        padding-top: 10px;
        padding-bottom: 5px;
    }

    .menu-container {
        padding-top: 10px;
    }

}